<!doctype html>
<html>
<head>
	<meta charset="utf-6">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>S-lamichhane's Bio</title>

</head>
<h1> HEllO User, This is a template</h1>
<body>
Hey bros
</body>
<form action="/analyze" method="get">
	<textarea name = 'text' style="margin: 10px; width: 1285px; height: 255px;"></textarea>
	<br>
	<input type="checkbox" name="removepunc" > Remove punctuations <br>
	<input type="checkbox" name="capitalize" >Capitalize text<br>
	<input type="checkbox" name="newlineremove" >Remove New Line/s
	<br>
	<button type="submit">Analyze text</button>
</form>
</html>